@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    section {
        @apply my-8;
    }

    .card {
        @apply xl:border xl:drop-shadow-md xl:bg-white rounded-lg xl:p-10;
    }

    section > h1 {
        @apply inline-block mx-auto text-lg lg:text-xl text-center text-main font-semibold mb-10 tracking-wide after:content-[''] after:block after:w-[60%] after:h-[1px] after:rounded-lg after:bg-gold after:mt-1.5;
    }

    .btn-main {
        @apply appearance-none inline-block bg-main text-white hover:opacity-80 py-1 px-6 text-base rounded-full border-2 border-main transition-colors;
    }

    .btn-secondary {
        @apply appearance-none inline-block bg-gold text-white hover:opacity-80 py-1 px-6 text-base rounded-full border-2 border-gold transition-colors;
    }

    .floating-label {
        @apply absolute text-sm text-gray-500 duration-100 transform -translate-y-1.5 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-main-accent peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-1.5 left-1;
    }

    .floating-input {
        @apply block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-main-accent;
    }

    .validation-error {
        @apply text-xs text-red-500;
    }

    [disabled] {
        @apply opacity-50 pointer-events-none select-none;
    }

    .lot-grid {
        @apply grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 md:gap-8 gap-6;
    }

    [aria-invalid="true"] {
        @apply !border-red-500;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.blur-load {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.blur-load img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.blur-load.loaded img {
    opacity: 1;
}

input[type="checkbox"] {
    accent-color: #333;
    color: #333;
    border-radius: 4px;
    box-shadow: none !important;
}

[drawer-backdrop] {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}